<div class="container">
	<div class="row">
		<div class="col-xs-12">

			<%= form_tag "/realtime/historica", method: "get", remote: true do %>
			  	<%= date_select(:tiempo,"tiempo",:class => 'select') %>
			  	<%#select_datetime()%>
				<%= submit_tag("Search") %>
			<% end %>

		</div>
	</div>
</div>
<div id="resultado">
	

</div>