<nav class="navbar navbar-default" style="background-color: #77d011;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: white;">
        <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
        Ãmbar Energy Management
      </a>
    </div>
  </div>
</nav>